*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 6, 37);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar{
    display: none;
}

header{
    background-color: rgb(0, 6, 37);
    background-image: url(/images/home.png);
    background-size: cover;
    height: 100vh;
    width: auto;
    overflow: hidden;
    text-align: center;
}
.header-h1{
    color: white;
    font-size: 150px;
    font-weight: 900;
    padding-top: 40vh;
    transition: 3s;
    display: inline-block;
}
.header-h2{
    color: rgba(255, 255, 255, 0.719);
    display: inline-block;
    transition: 3s;
    margin: 20px;
}
.header-h3{
    color: rgba(255, 255, 255, 0.411);
    display: inline-block;
    transition: 3s;
    margin: 20px;
}
.header-h1:hover{
    font-size: 200px;
}
.header-h2:hover{
    font-size: 100px;
    color:white;
}
.header-h3:hover{
    font-size: 100px;
    color:white;
}
 .header-a{
    text-decoration: none;
    color: white;
    writing-mode: vertical-lr;
    font-size: 17px;
}
.social{
    padding-left:2rem;
    display: table-cell;
}
.h1-1{
    color: rgba(255, 255, 255, 0.185);
    text-align: center;
    padding-top: 3rem;
    letter-spacing: 1rem;
    font-size: 20rem;
    position: absolute;
}
footer{
    background-color: rgba(253, 253, 253, 0.02);
    color: white;
    text-transform: uppercase;
    height: 2.5vh;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
}

